@model Centro
<dl class="row">
    <div class="col-md-4">
    <dt >
        @Html.DisplayNameFor(model => model.NombreCentro)
    </dt>
    <dd >
        @Html.DisplayFor(model => model.NombreCentro)
    </dd>
    </div>
    <div class="col-md-4">
    <dt >
        @Html.DisplayNameFor(model => model.Direccion)
    </dt>
    <dd >
        @Html.DisplayFor(model => model.Direccion)
    </dd>
    </div>
        <div class="col-md-4">
    <dt >
        @Html.DisplayNameFor(model => model.Ciudad)
    </dt>
    <dd >
        @Html.DisplayFor(model => model.Ciudad)
    </dd>
    </div>
</dl>


